<h1>{{ title }}</h1>
<p>{{ date }}</p>
<p>Hosted by {{ user.username }}</p>

<h2>Attendees</h2>
{{#each attendees}}
  <p>{{ this.username }} is bringing {{ this.dish.name }} for {{ this.dish.servings }} people</p>
{{/each}}

{{#if logged_in}}
  <form action="/event/{{ id }}/attend" method="POST">
    <label for="dish">What are you bringing?</label>
    <input type="text" id="dish" name="dish">
    <label for="servings">How many people will this serve?</label>
    <input type="number" id="servings" name="servings">
    <input type="submit" value="I'm attending!">
  </form>
{{else}}
  <p>You must be logged in to attend this event.</p>
{{/if}}
