<div class="container">
  <h2>Go Battlehawks!!!</h2>
  <section class="customer-logos slider">
    <div class="slide"><img src="/images/battlehawks.png"></div>
    <div class="slide"><img src="/images/brahmas.png"></div>
    <div class="slide"><img src="/images/defenders.png"></div>
    <div class="slide"><img src="/images/guardians.png"></div>
    <div class="slide"><img src="/images/renegades.png"></div>
    <div class="slide"><img src="/images/roughnecks.png"></div>
    <div class="slide"><img src="/images/sea-dragons.png"></div>
    <div class="slide"><img src="/images/vipers.png"></div>
  </section>

  <h1 id="schedule-heading">2023 Schedule</h1>
  <div class="game-list-container">
    <ul class="game-list">
      {{#each tailgates}}
      {{#if this.home_game}}
        <li class="home">
          <a href="/tailgate/{{ this.tailgate_id }}">
            <div class="game-details">
              <img src="{{ this.away_logo }}" alt="Away Team Logo" class="team-logo" />
              <span class="at-sign">@</span>
              <img src="{{ this.home_logo }}" alt="Home Team Logo" class="team-logo" />
              <p class="event-date">{{ formatDate this.event_date }}</p>
              {{! <p class="tailgate-attending">Attending: {{ this.attendees.length }}</p>
              {{! FUTURE IMPLEMENTATION }}
            </div>
          </a>
        </li>
      {{else}}
        <li class="away">
          <div class="game-details">
            <img src="{{ this.away_logo }}" alt="Away Team Logo" class="team-logo" />
            <span class="at-sign">@</span>
            <img src="{{ this.home_logo }}" alt="Home Team Logo" class="team-logo" />
            <p class="event-date">{{ formatDate this.event_date }}</p>
            <p class="tailgate-attending">Away Game</p>
          </div>
        </li>
      {{/if}}
      {{/each}}
    </ul>

    <img src="/images/kawislaw.jpg" alt="Kaw is the law" class="game-list-image" />
  </div>
</div>