{{#if tailgate.home_game}}
{{log tailgate}}
  <ul class="single-game-tailgate">
    <li class="home-single">
      <div class="game-details">
        <img src="{{ tailgate.away_logo }}" alt="Away Team Logo" class="team-logo" />
        <span class="at-sign">@</span>
        <img src="{{ tailgate.home_logo }}" alt="Home Team Logo" class="team-logo" />
        <p class="event-date">{{ formatDate tailgate.event_date }}</p>
      </div>
    </li>
  </ul>
  <h2>Tailgate Item List:</h2>
  {{#if tailgate.items.length}}

    <ol class="ol-tailgate">
      {{#each tailgate.items as |item|}}
        <li class="individual-tailgate-container">
          <ul>
            <li class="listed-tailgate-item"><strong>Item: </strong>{{ item_name }}</li>
            <li class="listed-tailgate-item"><strong>Submitted by: </strong>{{ user.username }}</li>
          </ul>
        </li>
      {{/each}}
    </ol>
    {{#if tailgate.attendance.length}}
    <p class="attendance">Total Attendance: {{ tailgate.attendance.length }}</p>
    {{/if}}
  {{else}}
    <p class="attendance">Nobody has contributed to this tailgate yet. Be the first by submitting your contribution!</p>
  {{/if}}
{{else}}
  <h1 class="login-signup-heading">Sorry, this is an away game :</h1>
{{/if}}

<h2>Submit Your Item:</h2>
<div class="submit-form-container" data-id="{{tailgate.tailgate_id}}">
  <form class="new-item-form">
    <input id='item-name' type="text" name="item_name" placeholder="Item Name" required>
    <button type="submit">Submit</button>
  </form>
</div>

<script src="/js/item.js"></script>